@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Marcellus&family=Martel:wght@400;700&family=Montserrat:wght@400;700&family=Pacifico&family=Shizuru&display=swap');

:root {
    --primary-color: #7dd3fc;
    --secondary-color: #e0f2fe;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 15px;
}

body {
    background-color: var(--primary-color);
}

#div-about {
    padding: 1.5rem;
    margin: 2rem auto 1rem;
    background-color: var(--secondary-color);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;

}

#div-main {
    width: 80%;
    height: 280px;
    border: 2.5px solid black;
    margin: 5rem auto 14rem;
    background-color: white;
    border-radius: 10px;
    font-size: 25px;
}

#main-heading {
    text-align: center;
    padding: 0.5rem;
    margin: 0rem;
    font-size: 30px;
}

#div-quote {
    padding: 0.4rem 1rem 0.2rem;
    margin: 0rem;
    height: 110px;
    text-align: center;
    font-size: 18px;
}

#div-quote-author {
    padding: 0.3rem 4rem 0.5rem 0.5rem;
    height: 25px;
    text-align: right;
    font-size: 16px;
}

hr {
    margin: 0rem 0.5rem;
    padding: 0;
}

#div-btn-container {
    padding: 0.5rem 0rem 0.5rem;
    text-align: center;
}

#btn-quote {
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 18px;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    background-color: var(--primary-color);
}

.list-item-inline {
    display: inline;
}

footer {
    background-color: var(--secondary-color);
    padding: 0.5rem 0rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#footer-heading {
    padding-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#container-social {
    padding: 0rem 0rem 0rem 1rem;
    margin: 0rem;
    text-align: center;
    padding-inline-start: 0rem;
}

.social-link {
    text-decoration: none;
    padding: 0rem 1rem;
    font-size: large;
    color: black;
    font-size: 17px;
}

.social-link:hover {
    text-shadow: 1px 1px 0.5px var(--primary-color);
}